@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?h9t6bi');
  src:  url('fonts/icomoon.eot?h9t6bi#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?h9t6bi') format('truetype'),
    url('fonts/icomoon.woff?h9t6bi') format('woff'),
    url('fonts/icomoon.svg?h9t6bi#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-printer:before {
  content: "\e900";
}
.icon-menu:before {
  content: "\e901";
}
.icon-close:before {
  content: "\e902";
}
.icon-conference:before {
  content: "\e903";
}
.icon-left-arrow:before {
  content: "\e904";
}
.icon-meeting:before {
  content: "\e905";
}
.icon-pantry:before {
  content: "\e906";
}
.icon-right-arrow:before {
  content: "\e907";
}
.icon-staff:before {
  content: "\e908";
}
.icon-tick:before {
  content: "\e909";
}
.icon-wi-fi:before {
  content: "\e90a";
}
.icon-zoom:before {
  content: "\e90b";
}
.icon-breakout:before {
  content: "\e90c";
}
.icon-cafeteria:before {
  content: "\e90d";
}
.icon-call:before {
  content: "\e90e";
}
.icon-coffee:before {
  content: "\e90f";
}
